.logo {
	box-sizing: border-box;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	height: 100%;
	background: #e0e0e0;
	float: right;
	max-width: 11.5rem;
}

.logo img {
	width: 66.667%;
	padding: 0 16.667%;
}

.logo h3 {
	padding: 0;
	margin: 0;
}

.leagueclassname {
	color: #f26522;
	text-decoration: none;
}
