:root {
	--accentcolor: orange;
	--textcolor: white;
}
.header {
	font-size: 2.5rem;
	font-weight: bold;
	padding: 0.5rem;
	text-align: center;
	max-width: 20rem;
}
.description {
	padding: 0.25rem 0.5rem;
}
#description-text {
	max-width: 24rem;
}
.header-parent {
	width: 50%;
	margin: 0 auto;
}
.top {
	flex: 1;
}

.topbox {
	display: flex;
	background-color: var(--accentcolor);
	color: var(--textcolor);
	border-radius: 15px;
	margin: 1rem;
	justify-content: center;
	height: 7.5em;
}
